---
---
@import "{{ site.theme }}";


a {
  color:#c27a25;
  text-decoration:none;
}

a:hover {
  font-weight:bold;
  color:#c27a25;
}

.current {
  color:black;
  font-weight:bold;
}

.icon:hover {
  fill: #c27a25;
}
